/*
Disclaimer: I knew very little about CSS when I wrote this site.
I still don't know much, but I can at least tell you that an
element should not be nested in 3 unnecessary divs.
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2a2e;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x:hidden;
    font-size: 18px;
}

/* Link styling */
a:link {color: #f2f7f7}
a:visited {color: #f2f7f7}
a:hover {color: #95afb8}
a:active {color: #95afb8}

/* header style */
h1 {
    text-align: center;
    padding: 2%;
    font-size: 170%;
    font-size: var(--titleSize);
}
/* Paragraph style */
p  {
    line-height: 1.4em;
    margin-bottom: 2%;
    font-size: 100%;
    font-size: var(--textSize);
}

/* All images have some padding */
.project {
    float: left;
    padding: 1%;
    line-height: 0;
    width: 33%;
    /* Modify variable if JS indicates browser is mobile */
    width: var(--pWidth);
    /* round edges */
    border-radius: 25px;
}

.project:hover {
    opacity:0.6;
    transition:opacity 0.25s;
}



/* Includes padding in pic sizing */
* {box-sizing: border-box}

/* Clearfix (clear floats) */
.grid_pics::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
    display: inline-block;
}

/* Centers each grid_pics section */
.center {
    display: inline-block;
}

/* Spaces out the MAKR letters all cool like */
.banner{
    display: inline-block;
    width: 100%;
    height: 15vh;
    height: var(--bHeight);
    background-color:#97dede;
    margin-top: 2%;
}
.name {
    display: inline-block;
    width: 100vw;
    height: 15vh;
    height: var(--bHeight);
}
.letter {
    float: left;
    line-height: 0;
    width: 25%;
    height: 15vh;
    height: var(--bHeight);
}
.makr::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
    display: inline-block;
}

/* End of website */
.footer {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #97dede;
    color: #2a2a2e;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}
.footer p {
    line-height: 1.6em;
    margin-bottom: 0%;
    padding-left: 0;
    text-indent: 0;
}

/* Change how resume link is styled */
.footer a:link {color: #2a2a2e}
.footer a:visited {color: #2a2a2e}
.footer a:hover {color: #525256}
.footer a:active {color: #525256}

.textbox {
    text-align: left;
    display: inline-block;
    padding: 1% 4% 1% 4%;
    width: 100%;
}

/* Style clusters of images in a project write-up*/
.images {
    display: inline-block;
    width: 100%;
}
/* Centers each set of images */
.cluster {
    display: inline-block;
    width: 100%;
}
.pic {
    width: 50%;
    width: var(--picWidth);
    /* round edges */
    border-radius: 25px;
}

/* 2 columns if low width */
@media screen and (max-width: 600px) {
    .project{width: 50%;}
}
/* Stops images from spreading out too much */
@media screen and (min-width: 800px) {
    .grid_pics {width: 800px;}
    .name {width: 800px;}
    .textbox {width: 750px;}
    .images {width: 750px;}
}
/* For large screens, such as 4k */
@media screen and (min-width: 2000px) {
    .grid_pics {width: 50vw;}
    .description{width: 50vw;}
    .name {width: 50vw;}
    .textbox {width: 50vw;}
    .images {width: 50vw;}
}